<% include ../index_head_menu %>
<div class="row">
    <div class="col-md-12">
        <div class="block block-transparent">
                <div class="well">
                    <h1 align="center">Tạo các nhóm từ khóa</h1>
                </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
<%  if(thongbao)
    {
%>
    <div class="block">
        <div class="alert alert-warning">
            <b><%=thongbao%></b>
            <button type="button" class="close" data-dismiss="alert">×</button>
        </div>
    </div>
<%
    }
%>
    </div>
</div>

<div class="row">
	<div class="col-md-12">
		<div class="block block-drop-shadow">
			<div class="content controls">
				<div class="form-row">
					<form method="post" action="/user/bot_messenger_dstukhoa">
                        <div class="col-md-2">Tên của nhóm từ khóa:</div>
                        <div class="col-md-10">
                            <input type="text" class="form-control" name='name_tukhoa' required="required">
                        </div>
					    <div class="col-md-2">Danh sách từ khóa:</div>
					    <div class="col-md-10">
					        <input type="text" value="" class="tags" id="tags1504591810405" style="display: none;" name='ds_tukhoa' required="required">
					    </div>
					    <div class="col-md-2">Danh sách Câu trả lời:</div>
					    <div class="col-md-10">
					        <input type="text" value="" class="tags" id="tags1504591810405" style="display: none;" name='ds_cautraloi' required="required">
					    </div>
					    <div class="col-md-10">
	                    </div>

	                    <div class="col-md-1">
	                    	<br>
	                    	<button class="btn btn-default btn-clean">Cập nhật</button>
	                	</div>
                	</form>
				</div>
			</div>
		</div>

    <div class="block">
        <div class="header">
            <h2>Danh sách từ khóa bot_messenger profile của tài khoản <%=user.local.name%></h2>                                        
        </div>
        <div class="content">
            <div id="DataTables_Table_2_wrapper" class="dataTables_wrapper" role="grid">
        		<table cellpadding="0" cellspacing="0" width="100%" class="table table-bordered table-striped sortable dataTable" id="DataTables_Table_2" aria-describedby="DataTables_Table_2_info" style="width: 100%;">
                    <thead>
                        <tr role="row">
                        	<th width="25%" class="sorting" role="columnheader" tabindex="0" aria-controls="DataTables_Table_2" rowspan="1" colspan="1" aria-label="ID: activate to sort column ascending" style="width: 50px;">ID</th>
                        	<th width="25%" class="sorting" role="columnheader" tabindex="0" aria-controls="DataTables_Table_2" rowspan="1" colspan="1" aria-label="ID: activate to sort column ascending" style="width: 120px;">Tên nhóm</th>
                        	<th width="25%" class="sorting" role="columnheader" tabindex="0" aria-controls="DataTables_Table_2" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending" style="width: 289px;">Danh sách từ khóa</th>
                        	<th width="25%" class="sorting" role="columnheader" tabindex="0" aria-controls="DataTables_Table_2" rowspan="1" colspan="1" aria-label="E-mail: activate to sort column ascending" style="width: 293px;">Danh sách câu trả lời</th>
                        	<th width="25%" class="sorting" role="columnheader" tabindex="0" aria-controls="DataTables_Table_2" rowspan="1" colspan="1" aria-label="Phone: activate to sort column ascending" style="width: 120px;">Chỉnh Sửa</th></tr>
                    </thead>
            
                    <tbody role="alert" aria-live="polite" aria-relevant="all">
                    	<%	for(i=0; i<data.length; i++) 
                    		{
						%>
                    	<tr class="odd">
                            <td class=" "><%=i+1%></td>
                            <td class=" "><%=data[i].db.name_tukhoa%></td>
                            <td class=" " id="tukhoa"><%=data[i].db.ds_tukhoa%></td>
                            <td class=" " id="cautraloi"><%=data[i].db.ds_cautraloi%></td>
                            <td class=" ">
			                        <!-- <a href="component_buttons.html#" class="widget-icon"><span class="icon-pencil"></span></a> -->
		                        <form action="/user/bot_messenger_deletetukhoa" method="post">
		                        	<input type="hidden" name="id" value="<%=data[i].db.id%>">
		                        	<button class="widget-icon widget-icon-dark"><span class="icon-trash"></span></button>
		                        </form>
		                    </td>                                    
                        </tr>
                        <%
                    		}
                    	%>
                    </tbody>
                </table>
        	</div>
    	</div>
    </div>
</div>